<div class="container">
  <h1>EDIT YOUR OFFICE</h1>

  <%= simple_form_for(@office) do |f| %>
    <p><%= f.input :name %></p>
    <p><%= f.input :address %></p>
    <p><%= f.input :city %></p>
    <p><%= f.input :capacity %></p>
    <p><%= f.input :price %></p>
    <p><%= f.input :photo, as: :file %>
    <% if @office.photo.attached?  %>
      <%= cl_image_tag @office.photo.key, height: 300, width: 400, crop: :fill %></p>
    <% end %>
    <p><%= f.submit 'Edit', class: 'btn btn-primary'%></p>

  <% end %>
</div>
