<div class="container">
  <h2><%= @office.name %></h2>
  <h3><%= @office.address %></h3>
  <p><%= @office.city %></p>
  <p><%= @office.price %></p>
  <p><%= @office.capacity %></p>

  <%= link_to "Edit this Office", edit_path, class: 'btn btn-warning' %>

  <%= link_to "Delete #{@office.name}",
        office_path(@office),
        method: :delete,
        class: 'btn btn-danger',
        data: { confirm: "Are you sure?" } %> | <%= link_to "Return to the list", index_path, class: 'btn btn-primary' %>
