<div class="card-trip">
  <div>
    <%= cl_image_tag booking.office.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
    <h2 class="status-label"><%= booking.status %></h2>
  <div class="card-trip-infos d-flex justify-content-between" >
    <div>
      <h1><%= booking.office.name %></h1>
      <h3><%= booking.office.address %></h3>
      <p><%= booking.office.city %></p>

      <h3>From: <%= booking.start_date %></h3>
      <h3>To: <%= booking.end_date %></h3>
    </div>
    <div>
      <h2 class="card-trip-pricing"><%= booking.office.capacity%>   <i class="fas fa-users"></i></h2>
      <h2 class="card-trip-pricing"><%= booking.office.price %> € / day </h2>

      <h3>Total price: 900 <%= booking.total_price %>€</h3>
    </div>
  </div>
</div>
