<div class="center-cropped text-center" style= "background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,1) 100%), url('https://res.cloudinary.com/moi-rezvani-leo/image/upload/v1621507578/nastuh-abootalebi-J1rNS2qv8BQ-unsplash_czgtka.jpg');">
<h1>Hello <%= @user.first_name %> !</h1>
</div>
<div class="bg-white">
  <div class="custom-container min-vh-100">
    <div>
      <h1>Your bookings</h1>
      <hr>
      <% if @bookings.count == 0 %>
        <%= "You don't have any booking." %>
      <% else %>
        <div class="grid">
          <div id="bookings" class=" text-center cards_display">
            <% @bookings.each do |booking| %>
            <%= render "shared/booking_card", booking: booking %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="mt-5"
      <h1>Your rentings</h1>
      <hr>
      <% if @bookings_as_owner.count == 0 %>
        <%= "You don't have any renting for your offices." %>
      <% else %>
        <div class="grid">
          <div class="text-center cards_display">
            <% @bookings_as_owner.each do |booking| %>
              <% if booking.status == "accepted" || "pending" %>
                <%= render "shared/booking_as_owner_card", booking: booking %>
              <% end %>
             <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
